@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Handlee', cursive; */
}

/* top section */
.push {
    padding: 0.5rem;
}


nav {
    position: absolute;
    font-family: sans-serif;
    /* box-shadow: 1px 1px 1px #BCCEF8; */
    background: rgba(255, 255, 255, 0.4);
    padding: 25px;
    /* border: 1px solid  #BCCEF8;     */
    border-radius: 25px;
}

@media screen and (max-width: 650px) {
    div.top-main {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 900px) and (min-width: 651px) {
    div.top-main {
        padding: 9rem 2rem;
    }
}

@media screen and (min-width: 1000px) {
    div.top-main {
        padding: 4rem 2rem;
    }
}

#top {
    overflow: auto;
    background-image: linear-gradient(to left, #A460ED, #a6b1E1);
    /* background-color: #A6B1E1; */
    margin: auto;
}

.top-main {
    padding: 12rem 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#top h1 {
    color: #E1FFEE;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
}

.top-main button {
    margin: 5px;
    padding: 0.8rem;
    box-shadow: 3px 3px 3px #BCCEF8;
    border-radius: 20px;
    font-family: sans-serif;
    color: #494F80;
    font-size: 1.3rem;
}

#top svg {
    width: 60%;
}

/* about section */
@media screen and (max-width: 991px) {
    #about p, h3{
        text-align: center !important;
    }
  }
#about {
    background-image: linear-gradient(to bottom, white, #FAF7F0);
    text-align: center;
}
#about h1 {
    text-align: left;
    color: #371B58;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    margin: auto;
    text-align: center;
}

#about .my-col {
    padding: 1rem;
}

#about i {
    font-size: 3rem;
    padding: 1rem;
    color: #5B4B8A;
}

#about h3 {
    text-align: left;
    font-size: 2rem;
    color: #4C3575;
}

#about p {
    text-align: left;
    color: #7858A6;
}

#about img {
    width: 40%;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #BCCEF8;
}

.small-text {
    font-size: 1.5rem;
    color: #7858A6;
    display: flex;
}



.fa-solid, .fa-brands{
    font-size: 2.5rem;
    color: #4C3575;
}
ul {
    text-align: left;
    list-style: none;
}

.hr {
    margin: 0 auto 2rem;
    text-align: center;
    height: 2px;
    border-style: none;
    border-top-style: none;
    border-top: 7px dotted #7858A6;
    text-align: center;
    color: #A460ED;
    width: 10%;
    display: block;
}
.waves{
    width: 100%;
}


/* projects section  */
#projects{
    color: white;
    font-family: sans-serif;
    margin: auto;
    text-align: center;
    overflow: auto;
    width: auto;
    background-color: #A460ED;
    padding-bottom: 8rem;
    
}

#projects h1{
    color: #E1FFEE;
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    margin: auto;
    text-align: center;
}
#projects h2{
    font-size: 1.5rem;
    padding: 0 2rem;
    font-weight: 550;
}
#projects p{
    padding: 0 3rem;
}
.my-container{
    padding: 3rem 0;
    background: rgba(166, 175, 225, 0.2)
}
.center {
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    border-radius: 100%;
  }
#projects a{
    padding: 1rem 2rem;
    border-radius: 20px;
}
/* contact section  */
#contact{
	margin: auto;
	background-image: linear-gradient(to top, #EDE4E0, white);
	text-align: center;
    padding: 3rem 0 6rem;
}
#contact p{
	margin: 0.4rem;
	font-family: 'Montserrat-Black', sans-serif;
	line-height: 1.5;
	font-size: 1 rem;
	color: grey;    
}
#contact a{
	text-decoration: none;
	color: #A460ED;
	font-size: 2.3rem;
}
#contact a:hover{
	color: #a6b1E1;
}